<div class="social-links">

    {% if site.twitter %}
        <a class="link" data-title="twitter.com/{{ site.twitter }}" href="http://twitter.com/{{ site.twitter }}" target="_blank">
            <i class="fa fa-twitter-square fa-2x"></i>
        </a>
    {% endif %}

    {% if site.linkedin %}
        <a class="link" data-title="linkedin.com/in/{{ site.linkedin }}" href="http://linkedin.com/in/{{ site.linkedin }}" target="_blank">
            <i class="fa fa-linkedin-square fa-2x"></i>
        </a>
    {% endif %}

    <!-- {% if site.github %}
        <a class="link" data-title="github.com/{{ site.github }}" href="https://github.com/{{ site.github }}" target="_blank">
        <i class="fa fa-github fa-2x"></i>
        </a>
    {% endif %} -->

    {% if site.thesis %}
        <a class="link" data-title="Ph.D. Thesis" href="{{ site.thesis }}" target="_blank">
            <i class="fa fa-graduation-cap fa-2x"></i>
        </a>
    {% endif %}

    {% if site.skype %}
        <a class="link" data-title="{{ site.skype }}" href="skype:{{ site.skype }}?userinfo" target="_blank">
            <i class="fa fa-skype fa-2x"></i>
        </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="{{ site.email }}" href="mailto:{{ site.email }}">
            <i class="fa fa-envelope fa-2x"></i>
        </a>
    {% endif %}

</div>
